extends layout

block content
  .content
    .title
      h1= title
    each message in messages
      .message
        .messageTitle
          span= message.title
        .user
          -const userName = !!message.user ? (message.user.firstName + ' ' + message.user.lastName) : undefined;
          span= !userName ? 'Anonymous' : userName
        .datePosted
          span= message.dateFormatted
        .body
          p= message.body
