extends layout

block content
  .content
    .title
      h1= title
    each message in messages
      .message
        .user
          span= !message.user ? 'Anonymous' : message.user
        .title
          span= message.title
        .datePosted
          span= message.datePosted
        .body
          p= message.body
