extends layout

block content
  .content
    .title
      h1= title
    each row in rows
      .message
        .messageTitle
          span= row.title
        .user
          span= !row.user ? 'Anonymous' : row.user
        .datePosted
          span= row.dateposted
        .body
          p= row.body
