extends layout

block content
  .content
    .title
      h1= title
    hr
    form(method='POST' action='')
      .form-group
        label(for="username") Email:
        input(type='email' name='username' value= username ? username : '' )
      .form-group
        label(for='password') Password:
        input(type='password' name='password' minlength='8')
      button(type='submit') Sign In!
    hr
    if errors
      ul.errors
        each error in errors
          li!= error.msg